/* Ensure html and body take the full height of the viewport */
html, body {
  height: 100%;  /* Ensures the page takes the full height of the viewport */
  margin: 0;     /* Removes default margin */
}

body {
  min-height: 100vh;  /* Ensures the body takes at least the full viewport height */
  background-color: black; /* Your background color */
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  position: relative;
  left: -275px; /* Shift the content 275px to the left */
  z-index: 2; /* Ensure the content stays on top of the image */
}

.name {
  font-size: 4.5rem;
  margin-bottom: 10px;
}

.typing {
  font-size: 1.2rem;
  margin: 10px 0;
}

.cursor {
  color: white;
  font-weight: bold;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.buttons {
  margin-top: 20px;
}

.btn {
  font-size: 1.1rem;
  margin: 0 10px;
  padding: 10px 18px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s, background-color 0.2s;
}

.btn:hover {
  transform: scale(1.1);
  background-color: black;
  color: #2DBA4E;
}

.right-image {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 100vh;
  object-fit: fill;
  z-index: 1;
  pointer-events: none;
}
